<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%blue{%d{HH:mm:ss.SSS}} [%t] %highlight{%-5level} %magenta{%c{1.}} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="com.octavio" level="DEBUG"/>
        <logger name="io.netty" level="warn"/>
        <logger name="io.vertx" level="info"/>
        <logger name="org.flywaydb.core" level="info"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>
